<h1>Address</h1>
<div class="wrapper">
  <div id="formContent">
    <form (ngSubmit)="addAddress()" #AddressForm="ngForm" class="address-form">
      <div>
        <label for="Country"></label>
        <input type="text" id="Country" name="Country" placeholder="Country" [(ngModel)]="address.country" required>
      </div>
<!--      state-->
      <div>
        <label for="State"></label>
        <input type="text" id="State" name="State" placeholder="State" [(ngModel)]="address.state" required>
      </div>
<!--      city-->
      <div>
        <label for="City"></label>
        <input type="text" id="City" name="City" placeholder="City" [(ngModel)]="address.city" required>
      </div>
<!--      street-->
      <div>
        <label for="Street"></label>
        <input type="text" id="Street" name="Street" placeholder="Street" [(ngModel)]="address.street" required>
      </div>
<!--      zip-->
      <div>
        <label for="Zip"></label>
        <input type="text" id="Zip" name="Zip" placeholder="Zip" [(ngModel)]="address.zip" required>
      </div>
        <input type="submit" class=" submit" value="Save Address">

    </form>


  </div>
</div>
