.background {
  background: coral no-repeat 0% 0%;
}

.sub-header {
  font-size: 18px;
  color: #4d4f5c;
  opacity: 0.5;
  margin-bottom: 60px;
}

input.second {
  width: 100%;
}

.forgetPwd {
  color: #43425d;
}

.forgetPwd:hover {
  color: #43425d;
  text-decoration: none;
}

.fourth{
  width: 185px;
  height: 50px;
  background: #322a7d;
  color: #fff;
  border-radius: 6px;
  margin-right: 15px;
}

.btnSignUp {
  width: 185px;
  height: 50px;
  color: #4d4f5c;
  background: #fff;
  border: 1px solid #43425d;
  border-radius: 4px;
}

.button-margin {
  margin-top: 60px;
}

h3 {
  font-size: 33px;
}

.content-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms {
  margin-top: auto;
}

@media only screen and (max-width: 768px) {
  .fourth {
    width: 100%;
    margin-top: 10px;
  }

  .btnSignUp {
    width: 100%;
    margin-top: 10px;
  }

  .submit-btn-grp {
    flex-direction: column;
  }
}
