<div class="registration-form">
    <form (ngSubmit)="addAddress()" [formGroup]="addressForm" class="address-form">
      <h3>Address</h3>
      <div class="form-icon">
        <span><i class="icon icon-location-pin"></i></span>
      </div>
      <div class="form-group">
        <label for="Country">Country</label>
        <input type="text" id="Country" class="form-control item" name="Country" placeholder="Country" formControlName="country">
      </div>
<!--      state-->
      <div class="form-group">
        <label for="State">State</label>
        <input type="text" id="State" class="form-control item" name="State" placeholder="State"  formControlName="state">
      </div>
<!--      city-->
      <div class="form-group">
        <label for="City">City</label>
        <input type="text" id="City" class="form-control item" name="City" placeholder="City" formControlName="city">
      </div>
<!--      street-->
      <div class="form-group">
        <label for="Street">Street</label>
        <input type="text" id="Street" class="form-control item" name="Street" placeholder="Street" formControlName="street">
      </div>
<!--      zip-->
      <div class="form-group">
        <label for="Zip">Zip</label>
        <input type="text" id="Zip" class="form-control item" name="Zip" placeholder="Zip" formControlName="zip">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-block create-account" value="Save Address">
      </div>
    </form>

</div>
