<!--register form-->
<div class="registration-form">
    <form (ngSubmit)="register()" [formGroup]="userForm" class="register-form">

        <h3>Registration</h3>

      <div class="form-icon">
        <span><i class="icon icon-menu"></i></span>
      </div>
      <div class="form-group">
        <input type="text" id="First_name" class="form-control item" name="First_name" placeholder="First Name" formControlName="first_name">
      </div>
      <div class="form-group">
        <label for="Last_name"></label>
        <input type="text" class="form-control item" id="Last_name" name="Last_name" placeholder="Last Name" formControlName="last_name">
      </div>
<!--      dob-->
      <div class="form-group">
        <label for="dob"></label>
        <input type="date" class="form-control item" id="dob" name="dob" placeholder="Date of Birth" formControlName="dob">
      </div>
<!--      summary-->
      <div class="form-group">
        <label for="summary"></label>
        <input type="text" class="form-control item" id="summary" name="summary" placeholder="Summary" formControlName="summary">
      </div>
      <div class="form-group">
      <input type="submit" class="btn btn-block create-account" value="Register">
      </div>
    </form>

</div>

