<div class="App container" >
  <div><h1 class="name"> {{user.first_name}} {{user.last_name}} </h1>
    <h4>{{user.summary}}</h4>
    <h4 class="title">{{user.email}}</h4></div>
  <br/>
  <Button  class="btn btn-warning" (click)="edit(user.id)">Edit</Button>  <Button class="btn btn-warning" href="#">Logout</Button>
  <br/>
  <br/>
  <div><a class="address" (click)="editadd(user.id)"> {{address.country}} , {{address.state}} , {{address.city}}</a>
    <div class="hideedit">Edit Address.</div></div>
  <br/>

  <div class="main" id="section1">
    <div class="">
      <h4>Education <a class=" fa fa-plus add" (click)="addedu()"></a></h4>
      <ul>
        <li *ngFor="let edu of education">
          <a class="" (click)="edidedu(edu.id)" title="edit ">
            <h4 class="edudet">{{edu.institution_name}}<i class="fa fa-trash del" (click)="deleteedu(edu.id)"></i></h4>
            <h4 class="edudet">{{edu.degree_name}}-{{edu.summary}}</h4>
            <h4 class="edudet">{{edu.start_date.substring(0,4)}} - {{edu.end_date.substring(0,4)}}</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="main" id="section2">
    <h4>Experience <a class=" fa fa-plus add" (click)="addexp()" ></a></h4>
    <ul>
      <li *ngFor="let job of experience">
        <a class="" (dblclick)="editexp(job.id)" title="double click to edit">
          <h4 class="title">{{job.organisation_name}}<i class="fa fa-trash del" (click)="deleteexp(job.id)"></i></h4>
          <h4 class="title">{{job.position}}</h4>
          <h4 class="title">{{job.start_date.substring(0,4)}} - {{job.end_date.substring(0,4)}}</h4>
          <p>{{job.organisation_location}}</p>
        </a>
      </li>
    </ul>
  </div>
  <hr>
</div>

