
.App {
  /*text-align: center;*/
  background: linear-gradient(to top, #ff8f8f, #fffc99);    border-radius: 15px;
  scroll-behavior: smooth;
  margin: 10px;
  padding: 10px;
}
.container{
  width: 80%;
  /*min-height: 85vh;*/
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  font-family: Montserrat, sans-serif;
  color:black;
  margin-left: 10px;
}
i{
  margin: 5px;
  font-size: 20px;
}
.address{
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #214c5e;
  margin: 10px;
  text-transform: capitalize;
}
.address:hover +.hideedit{
  color: #516d7a;
  text-decoration: none;
  display: block;
}
.hideedit {
  display: none;
}
.name{
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  color: #202121;

  text-transform: uppercase;
}

.showedu{
  margin-top: 20px;
}

.edu{
  text-align: left;
  position: absolute;
  right: 5px;
  width: 10px;
  height: 10px;

}
.add{
  position: inherit;
  right: 2px;
  width: 2px;
  height: 2px;

}
.edudet{
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #214c5e;
  text-transform: capitalize;
  margin: 10px;
}

.list-group{
  margin-top: 20px;
  margin-bottom: 20px;
  left: 5px;
}

#section1 {
  /*height: 600px;*/
  /*//background: linear-gradient(to top, #ff8f8f, #fffc99);*/
}

#section2 {
  /*height: 600px;*/
  /*background: linear-gradient(to top, #ff8f8f, #fffc99);*/
}

.del{
  position: absolute;
  font-size: 15px;
  color: #214c5e;
}
