<div class="h-100">
  <div class="row h-100 w-100 m-0 p-20">
    <div class="col-6 background d-none d-md-flex"></div>
    <div
      class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column"
    >
      <div class="content-wrapper">
        <h3>LinkedIn</h3>
        <div class="sub-header">
          Sign up to join this community
        </div>
        <form class="m-60" (ngSubmit)="signup()" #loginForm="ngForm">
          <div class="form-group">
            <input type="email"
                   id="email"
                   class="fadeIn second"
                   name="email"
                   placeholder="email"
                   [(ngModel)]="user.email">

          </div>
          <div class="form-group">
            <input type="password"
                   id="password"
                   class="second"
                   name="login"
                   placeholder="password"
                   [(ngModel)]="user.password">
          </div>
          <div class="form-group">
            <input type="password"
                   id="confirmPassword"
                   class="second"
                   name="confirmPassword"
                   placeholder="confirmPassword"
                   [(ngModel)]="user.confirmPassword">

          </div>
          <div class="form-group d-flex justify-content-between mb-3">

            <div
              class="form-group d-flex justify-content-between button-margin submit-btn-grp"
            >
              <input type="submit" class="fourth" value="Sign Up">
              <input type="submit" class="btnLogIn" value="Log In" (click)="login()"/>
            </div>
          </div>
        </form>
      </div>
      <div class="terms">Term of use. Privacy policy</div>
    </div>
  </div>
</div>
