
<!--display userdetails add bootstrap-->
<div class="wrapper">
  <div class="card">
    <h2> {{user.first_name}} {{user.last_name}} </h2>
    <h4 class="title">date of birth:{{user.dob}}</h4>
    <h4 class="title">email:{{user.email}}</h4>
    <p>{{user.summary}}</p>
    <hr>
    <div id="edit">
      <a class="underlineHover" (click)="edit(user.id)">Edit</a>
    </div>
    <hr>
    <div id="logout" class="button">
      <a class="underlineHover" href="#">logout</a>
    </div>
    <hr>
  </div>

  <br>

  <div class="card">
    <h2> {{address.country}} , {{address.state}} </h2>
    <h4 class="title">city:{{address.city}}</h4>
    <h4 class="title">street:{{address.street}}</h4>
    <p>{{address.zip}}</p>
    <hr>
    <div id="edit2">
      <a class="underlineHover" (click)="editadd(address.id)">Edit</a>
    </div>
  </div>

</div>

