<h1>Experience</h1>
<div class="wrapper">
  <div id="formContent">
    <form (ngSubmit)="userexp()" [formGroup]="expForm" class="education-form">
      <div>
        <label for="organisation_name">Company</label>
        <input type="text" formControlName="organisation_name" id="organisation_name" />
      </div>
      <div>
        <label for="position">Designation</label>
        <input type="text" formControlName="position" id="position" />
      </div>
      <div>
        <label for="start_date">Start Date</label>
        <input type="date" formControlName="start_date" id="start_date" />
      </div>
      <div>
        <label for="end_date">End Date</label>
        <input type="date" formControlName="end_date" id="end_date" />
      </div>
      <div>
        <label for="exp_summary">Description</label>
        <input  type="text" formControlName="exp_summary" id="exp_summary">
      </div>
      <div>
        <label for="organisation_location">Location</label>
        <input type="text" formControlName="organisation_location" id="organisation_location" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
